*{
	margin:0;
	padding:0;
}

/*MENU*/

.menu{
	position: fixed;
	width: 1366px;
	height: 55px;
	background-color: #1F8CEB;
	display: flex;
	justify-content: space-between;
}


/*CANTO SUPERIOR ESQUERDO*/

.menu__logo{
	width: 83.12px;
	height: 19.47px;
	margin-top: 16.6px;
	margin-left: 42.52px;
}

/*USUARIO CANTO SUPERIOR DIREITO*/

.menu__user{
	border-radius: 100%;
	background-color: #F8FAFC;
	width: 48px;
	height: 48px;
	margin-top: 4px;
	margin-right: 48px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu__user i:first-child,.menu__user__groupicon i:first-child{
	color: #1F8CEB;
}

.menu__user i:first-child{
	width: 16px;
	height: 18px;
}

.menu__user__groupicon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1px;
	margin-right: -2px;
}

.menu__user__groupicon i:first-child{
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: -3px; 
}

.menu__user__groupicon i:last-child{
	font-size: 12px;
	color: #4AD991;
}

