*{
	margin:0;
	padding:0;
}

/*MENU*/

.menu{
	position: fixed;
	z-index: 10;
	width: 1366px;
	height: 55px;
	background-color: #1F8CEB;
	display: flex;
	justify-content: space-between;
}


/*CANTO SUPERIOR ESQUERDO*/

.menu__logo{
	width: 83.12px;
	height: 19.47px;
	margin-top: 16.6px;
	margin-left: 42.52px;
}

/*USUARIO CANTO SUPERIOR DIREITO*/

.menu__user{
	border-radius: 100%;
	background-color: #F8FAFC;
	width: 48px;
	height: 48px;
	margin-top: 4px;
	margin-right: 48px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}

.menu__user i[class="far fa-user"],.menu__user__groupicon i[class="fas fa-angle-down"],.content__page__lista__item:nth-child(2) i{
	color: #1F8CEB;
}

.menu__user i:first-child{
	width: 16px;
	height: 18px;
}

.menu__user__groupicon{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1px;
	margin-right: -2px;
}

.menu__user__groupicon i:first-child{
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: -3px; 
}

.menu__user__groupicon i[class="fas fa-circle"]{
	font-size: 12px;
	color: #4AD991;
}

.icon_stred{
	font-size: 12px;
	color: #E83333;
}

/*CONTEUDO DA PAGINA*/
main{
	width: 1366px;
	height: 1202px;
	background-color: #F8FAFC;
	display: flex;
	justify-content: space-between;
}

.content__page{
	width: 711.04px;
	margin-top: 176px;
	margin-left: 33px;	
}

.content__page__title{
	font-size: 36px;
	margin-bottom: 35px;
	font-family: Montserrat;
	font-weight: 600;
	color: #707070;
}

.content__page__title:before{
	content: 'Olá, ';
}

.content__page__title:after{
	content: '.';
}

.content__page__title:before,.content__page__title:after{
	font-size: 36px;
	font-family: Montserrat;
	font-weight: 300;
	color: #707070;
}

.content__page__text,.content__page__lista__item{
	font-size: 14px;
	line-height: 16pt;
	margin-bottom: 16px;
	font-family: Montserrat;
	font-weight: normal;
	color: #707070;
}

.content__page__subtitle{
	margin-top: 42px;
	margin-bottom: 6px;
	font-size: 18px;
	font-family: Montserrat;
	font-weight: 600;
	color: #707070;
}

.content__page__lista{
	margin-left: 20px;
}

.content__page__subtitle:nth-of-type(2){
	margin-bottom: 20px;
}

.content__page__subtitle:nth-of-type(3){
	margin-top: 55px;
	margin-bottom: 20px;
}

.content__page__text:nth-of-type(5){
	margin-top: 20px;
}

/*ASIDE - BOX FAV*/

.content-box{
	width: 621.96;
	margin-top: 176px;
	margin-right: 495px; /*soma da margin lateral do contentbox que é 34px de acordo com prototipo + largura do objeto 461px+34px= 495px;*/
}

.content-box__boxfav{
	position: fixed;
	width: 461px;
	height: 516px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04);
}

.content-box__boxfav__header{
	display: flex;
	justify-content: space-between;
	width: 461px;  /* largura do objeto*/
	height: 96px;
}

.content-box__boxfav__header-title{
	margin-top: 24px;
	margin-left: 24px;
	font-size: 24px;
	font-weight: 600;
	font-family: Montserrat;
	color: #878787;
}

.content-box__boxfav__header-group-search{
	width: 207.5px;
	height: 41px;
	margin-right: 23px;
	margin-top: 20px;
	border: 1px solid #D6D9DA;
	border-radius: 3px;
}

.content-box__boxfav__header-group-search::placeholder{
	padding-left: 14.04px;
	font-size: 16px;
	font-weight: normal;
	font-family: Montserrat;
	color: #D0D3D4;
}

.content-box__boxfav_items{
	margin: 0;
	padding: 0;
	list-style: none;
}

.content-box__boxfav__header-group i {
	position: absolute;
	margin-top: -29px;
	margin-left: 175px;
	color: #D6D9DA;
}

.content-box__boxfav_items-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 413px;
	height: 58px;
	margin-left: 24px; 
	margin-right: 24px;
	cursor: pointer;
}

.content-box__boxfav_items-item:hover{
	background-color: rgba(242, 242, 242, 0.5);
}

.content-box__boxfav_items-group{
	display: flex;
	flex-direction: column;
}

.content-box__boxfav_items-group-title,.content-box__boxfav_items-group-subtitle{
	margin-left: 20px;
	font-family: Montserrat;
	color: #828282;
}

.content-box__boxfav_items-group-title{
	font-size: 16px;
	font-weight: 600;	
}

.content-box__boxfav_items-group-subtitle{
	font-size: 12px;
	font-weight: normal;
}

.content-box__boxfav_items-item i{
	margin-right: 19px;
	color: #EFD358;
	/*background-color: #EFD358;*/
}


.esconder__item{
	transition: all .4s;
	display: none;
}


/*NAVIGATION*/
.navigation{
	display: none;
	z-index: 12;
	position: absolute;
	width: 1366px;
	height: 1147px;
	background-color: rgba(4, 9, 16, 0.7);
	margin-top: 55px;
}

.menu-bg-blue{
	background-color: #1E8AE9;
}
.menu-user-white{
	color: #ffffff;
}

.active{
	display: flex;
	justify-content: flex-end;
	animation: animate 0.5s;
}

@keyframes animate{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


.navigation-menu{
	display: flex;
	flex-direction: column;
	width: 235px;
	height: 397.65px;
	margin-right: 46px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 5px;
}

.navigation-menu-header{
	background-color: #F0F0F7;
	width: 100%;
	height: 70.35px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
}

.navigation-menu-header_group{
	width: 100%;
	height: 70.35px;
}

.navigation-menu-header_group-text{
	font-family: Montserrat;
	font-weight: medium;
	font-size: 16px;
	color: #5F5F60;
	margin-left: 21px;
	margin-top: 27px;
}

.navigation-menu-header i{
	position: absolute;
	font-size: 40px;
	margin-top: -25px;
	margin-left: 196px;
	color: #F0F0F7;
}

.navigation-menu-status{
	width: 100%;
	height: 80px;
	margin-top: 20px;
	padding-bottom: 5px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #F0F0F7;
}

.navigation-menu-status-text{
	font-family: Montserrat;
	font-weight: normal;
	font-size: 16px;
	color: #707070;
	margin-bottom: 20px;
	cursor: pointer;
}

.navigation-menu-status .disp{
	color: #4AD991;
}
.navigation-menu-status .indisp{
	color: #E83333;
}
.navigation-menu-status .disp,.navigation-menu-status .indisp{
	margin-left: 21px;
	padding-right: 10px;
	font-size: 12px;
}

i[class="fas fa-check"]{
	margin-left: 10px;
	color: #2699FB;
}

.navigation-menu-link{
	font-family: Montserrat;
	font-weight: normal;
	font-size: 14px;
	color: #1F8CEB;
	text-decoration: none;
	margin-left: 21px;
	margin-top: 18px;
	margin-bottom: 5px;
}